<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>LiveAlong</title>
        <link href = "../static/css/index.css" rel = "stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
        <link rel="icon" type="image/svg+xml" href="../static/icons/robot.svg">
    </head>
   <body>
        <header class = "header-outer" id="header_id">
            <div class="header-inner responsive-wrapper">
                <div class = "header-logo">
                    <img src="../static/images/illustration_robot.png"/>                    
                </div>
                <h1 class = "header-name-appli">LiveAlong</h1>                
            </div>         
        </header>

        <h1 class="connection">Connection</h1>
        <h2 class="connection">Select your profile</h2>
        <div class="image-container">
            <img src="../static/images/illustration-therapy.png" alt="Thérapeute avec un enfant">
            <a href="/child_interface" class="image-zone image-zone-left" aria-label="Espace enfant">
                <span class="zone-label">Child</span>
            </a>
            <a href="/therapist_interface" class="image-zone image-zone-right" aria-label="Espace thérapeute">
                <span class="zone-label">Therapist</span>
            </a>
        </div>
            <!--  <div class="section-btn">
            <button class="btn-account" id="btn-child" onclick="window.location.href='/child_interface'">Patient</button>
            <button class= " btn-account" id="btn-therapist">Therapist</button>
        </div> -->
    </body>
</html>