<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LiveAlong</title>
        <link href="../static/css/therapist.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
        <link rel="icon" type="image/svg+xml" href="../static/icons/robot.svg">
        <!-- à améliorer -->   
        <script type="module">
            console.log("Dans la page html de therapist")
            import { requireAuth } from "/static/js/auth.js";
            requireAuth("therapist");
        </script>
    </head>
    <body>
        <header class="header-outer" id="header_id">
            <div class="header-inner responsive-wrapper">
                <div class="header-logo">
                    <a href="/"><img src="../static/images/illustration_robot.png" alt="Logo"/></a>
                </div>
                <h1 class="header-name-appli">LiveAlong</h1>
            </div>
        </header>

        <main class="responsive-wrapper">
            <h1 class="page-title">Therapist Interface</h1>
            <div class="button-container">                
                <a type="button" href="/therapist/create_profile" class="btn-nav">Create Profile</a>
                <a type="button" href="/therapist/profiles" class="btn-nav">View Profiles</a>
            </div>
        </main>

        <div id="nav-bar">
            <div id="nav-left">
                <button type="button" id="btn-back" class="bi bi-arrow-left-circle-fill" aria-label="Previous step"></button>
            </div>
            <div id="nav-right">
                <button type="button" id="btn-next" class="bi bi-arrow-right-circle-fill hidden-btn" aria-label="Next step"></button>
            </div>
        </div>

    </body>

    
</html>