:root {
    --nav-height: 76px; /* hauteur fixe de la barre de boutons en bas */
}

/* ---Progression--- */
.steps-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 35px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.active {
    background-color: #7cdebc;
    transform: scale(1.2); /* Agrandit de 120% */
}

/* --- FORM & STEPS --- */
#multi-step-form {
    flex: 1;
    overflow-y: auto;
    background-color: #ffffff;
    border: 4px solid rgb(210, 240, 230, 0.6);
    border-radius: 14px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.02);
}

.form-step {
    display: none; /* Par défaut, toutes les étapes sont cachées */
}

.form-step.step-active {
    display: block; /* On affiche uniquement l'étape active */
}

.form-step h2 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 25px;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 8px;
}

.section-instruction {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

/* --- recap--- */
.recap-box {
    background-color: #f9fbfd;
    border: 1px solid #d6e4f0;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.recap-list dt {
    font-weight: bold;
    font-size: 0.85rem;
    color: var(--color-accent); /* Correction du contraste pour la lisibilité */
    margin-top: 12px;
}

.recap-list dd {
    margin-left: 0;
    margin-bottom: 12px;
    font-size: 0.95rem;
    border-bottom: 1px solid #edf2f7;
    padding-bottom: 6px;
}