.connection{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-container {
	background-color: var(--color-surface);
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin-top: 2rem;
}

